h1 {
    color: red;
    margin-left: 20px;
}

.selection {
    display: flex;
    justify-content: center;
}

.command {
    display: flex;
    justify-content: center;
}

.logo {
    display: flex;
    justify-content: right;
}